:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a8b2c9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App and Content Styling */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  width: 100vw;
  max-width: 317px;
  min-height: 100vh;
  margin: auto;
  padding: 15px 15px 0px;
  background: #1a1a1a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.About {
  margin-top: 0px;
}

.page h2,
p {
  text-align: start;
  font-size: 15px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.profile {
  width: 100%;
  max-width: 317px;
  height: auto;
}

.name {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 1.1;
  font-weight: 700;
}

.title {
  display: flex !important;
  justify-content: center !important;
  font-size: 10px;
  /* padding: -15px; */
  margin-top: 0;
  color: orange;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #201f1f;
  padding: 1px 0px;
  max-width: 400px;
  width: 347px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer img {
  width: 2rem;
  height: auto;
  margin-left: 15px;
  padding-right: 30px;
  cursor: pointer;
}

/* Jump animation */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  } /* jump up */
  50% {
    transform: translateY(0);
  } /* back down */
  70% {
    transform: translateY(-4px);
  } /* little bounce */
  100% {
    transform: translateY(0);
  }
}

.footer img:hover {
  animation: jump 0.75s ease;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* Skills Styling */

.skills img {
  flex-direction: row;
  width: 1.5rem;
  height: auto;
  padding-top: 9px;
  padding-right: 13px;
  /* border-radius: 1px; */
  /* padding-right: 25px; */
}

/* media query */
@media (max-width: 480px) {
  .name {
    font-size: 20px;
  }
  .skills img {
    width: 3rem;
  }
}
